
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCS Cargo System</title>
    <link rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon">
    <link href="@Url.Content("~/Content/kendo.default-ocean-blue.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/adminlte.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/index.global.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dist/js/adminlte.min.js")"></script>
    <script src="@Url.Content("~/Scripts/rcsCargo/rcsCargoMain.js?v=" + DbUtils.Utils.NewGuid() + "")"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="loadingOverlay" style="z-index: 10000; position: absolute; width: 100%; height: 100%; background-color: rgb(128, 128, 128, 0.6);">
        <div class="k-loading-image"></div>
        <span style="position: absolute; top: calc(50% + 20px); left: calc(50% - 87px); font-size: 32pt; font-family: Arial">
            Loading...
        </span>
    </div>
    <div class="wrapper">
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                RCS Cargo System version 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.ToString("yyyy") <a href="https://www.rcslogistics.com/">RCS Logistics Ltd.</a></strong> All rights reserved.
        </footer>
    </div>
    <span id="notification"></span>
    <link href="@Url.Content("~/Content/Site.css?v=" + DbUtils.Utils.NewGuid() + "")" rel="stylesheet" />
</body>
</html>
